<h1>Contacts</h1>
<p><%= link_to "Create Contact", new_person_path %></p>
<% @people.each do |person| %>
    <h2><%= person.full_name %></h2>
    <%= link_to 'Show', person_path(person) %>
    <%= link_to 'Edit', edit_person_path(person) %>
    <%= link_to 'Delete', person, method: :delete %>
<% end %>


