<h1><%= @person.full_name %></h1>
<p>Age: &nbsp; <strong><%= @person.age %></strong></p>
<p>Gender: &nbsp;<strong><%= @person.gender %></strong></p>
<p>Hair Color: &nbsp;<strong><%= @person.hair_color %></strong></p>
<p>Eye Color: &nbsp;<strong><%= @person.eye_color %></strong></p>
<p>Alive: &nbsp;<strong><%= @person.alive %></strong></p>
<%= link_to "Back", people_path %>